<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/detail.css" />
    <title></title>
</head>
<body>

    <hr class="spacer-red" />

    <div class="d-center">
        <div class="goods-pic"></div>

        <div class="goods-detail">
            <h3>Apple iPhone 6S (A1700) 64G玫瑰金色 移动通信电信4G手机</h3>
            <p class="red-tip">推荐选择下方[移动优惠购],手机套餐齐搞定,不用换号,每月还有话费返</p>
            <div class="detail-red">
                <div class="red-col-1">
                    <div class="price-tag">价格</div>
                    <div class="price">￥5299.00</div>
                    <div class="down-price">降价通知</div>
                    <div class="total-appraise">累计评价612188</div>
                </div>

                <div class="red-col-2">
                    <div class="sale-tag">促销</div>
                    <div class="sale-red-text"><a href="#">加购价</a></div>
                    <div class="sale-content">满999.00另加20.00元,或满1999.00另加30.00,或满2999.00另加40.00元,即可在购物车换购热销商品 <a href="#">详情</a></div>
                </div>
            </div>

            <div class="col-3">
                <div class="support-tag">支持</div>
                <div class="support-text">以旧换新，闲置手机回收 4G套餐超值抢 礼品购</div>
            </div>

            <div class="col-4">
                <div class="choose-color-tag">选择颜色</div>
                <button id="btn-choose">玫瑰金</button>
                <button>金色</button>
                <button>白色</button>
                <button>土豪色</button>
            </div>

            <div class="col-5">
                <div class="vision-tag">选择版本</div>
                <button id="btn-choose">公开版</button>
                <button>移动4G</button>
            </div>

            <div class="col-6">
                <div class="buy-way-tag">购买方式</div>
                <button id="btn-choose">官方标配</button>
                <button>移动优惠购</button>
                <button>电信优惠购</button>
            </div>

            <div class="col-7">
                <input type="text" />
                <div class="control-num">
                    <div class="add">+</div>
                    <div class="sub">-</div>
                </div>
                <button class="add-shopcar">加入购物车</button>
            </div>
        </div>
    </div>

    <div class="d-center">
        <div class="goods-thumbnail">
            <img class="pre-btn" src="img/arrow-prev.png" />
            <div class="thumbnail"></div>
            <div class="thumbnail red-border"></div>
            <div class="thumbnail"></div>
            <div class="thumbnail"></div>
            <img class="next-btn" src="img/arrow-next.png" />
        </div>
    </div>

    <div class="d-center">
        <div class="relative-div">
            <div class="relative-title">
                <button>相关分类</button>
            </div>
            <ul>
                <li>
                    <img src="upload/aside_img.jpg" />
                    <p>华为 HUAWEI P20 Pro 全面屏</p>
                    <div>￥19</div>
                    <button>加入购物车</button>
                </li>
                <li>
                    <img src="upload/aside_img.jpg" />
                    <p>华为 HUAWEI P20 Pro 全面屏</p>
                    <div>￥19</div>
                    <button>加入购物车</button>
                </li>
                <li>
                    <img src="upload/aside_img.jpg" />
                    <p>华为 HUAWEI P20 Pro 全面屏</p>
                    <div>￥19</div>
                    <button>加入购物车</button>
                </li>
                <li>
                    <img src="upload/aside_img.jpg" />
                    <p>华为 HUAWEI P20 Pro 全面屏</p>
                    <div>￥19</div>
                    <button>加入购物车</button>
                </li>
                <li>
                    <img src="upload/aside_img.jpg" />
                    <p>华为 HUAWEI P20 Pro 全面屏</p>
                    <div>￥19</div>
                    <button>加入购物车</button>
                </li>
                <li>
                    <img src="upload/aside_img.jpg" />
                    <p>华为 HUAWEI P20 Pro 全面屏</p>
                    <div>￥19</div>
                    <button>加入购物车</button>
                </li>
            </ul>
        </div>

        <div class="detail-div">
            <div class="detail-nav">
                <ul>
                    <li id="cur-nav">商品介绍</li>
                    <li>规格与包装</li>
                    <li>售后保障</li>
                    <li>商品评价(50000)</li>
                    <li>手机社区</li>
                </ul>
            </div>

            <div class="goods-parame">
                <ul>
                    <li>分辨率：1920*1080(FHD)</li>
                    <li>前置摄像头：1200万像素</li>
                    <li>后置摄像头：500万像素</li>
                    <li>核 数：其他</li>
                    <li>频 率：以官网信息为准</li>
                    <li>品 牌：Apple❤关注</li>
                    <li>商品名称：APPLEiPhone 6s Plus</li>
                    <li>商品编号：1861098</li>
                    <li>商品毛重：0.15kg</li>
                    <li>商品产地：中国大陆</li>
                    <li>热 点：指纹识别，Apple Pay，金属机身，拍照神器</li>
                    <li>系 统：苹果(IOS)</li>
                    <li>像 素：1000-1600万</li>
                    <li>机身内存：64GB</li>
                </ul>
            </div>

            <p class="look-more"><a href="#">查看更多参数<span class="downArrow"></span></a></p>

            <div class="goods-pics">
                <ul>
                    <li><img src="upload/detail_img1.jpg" /></li>
                    <li><img src="upload/detail_img2.jpg" /></li>
                    <li><img src="upload/detail_img3.jpg" /></li>
                </ul>
            </div>
        </div>
    </div>




</body>
</html>

