<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>乐淘淘-商品结算</title>
  <link rel="stylesheet" th:href="@{/css/balance.css}">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
<!--  <link rel="stylesheet" th:href="@{/css/upload.css}">-->
</head>
<body>
    <!-- 导航条 -->
    <nav class="navbar">
      <div class="nav-menu">
        <ul class="menu">
          <li><a th:href="@{/index}">首页</a></li>
          <li><a th:href="@{/store}">良品区</a></li>
          <li><a th:href="@{/askBook}">求购区</a></li>
        </ul>
      </div><!-- nav-menu -->

      <form class="nav-search">
        <input type="search" class="searchIn" placeholder="搜商品...">
        <button class="search-logo"><img th:src="@{/img/search2.png}"></button>
      </form>

      <div class="nav-info">
        <a th:href="@{/myBookSelf}" class="username" th:if="${loginUser!=null}" th:text="${loginUser.phone}">你的名字</a>
        <a th:href="@{/login}" class="username" th:if="${loginUser==null}">登录</a>
        <!--			<a th:href="@{/myBookSelf}" class="bookshelf" th:if="${loginUser!=null}">||&nbsp;&nbsp;&nbsp;我的小摊</a>-->
        <a th:href="@{/register}" class="bookshelf" th:if="${loginUser==null}">||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册</a>
        <a th:href="@{/shopping_cart}" class="bookshelf" th:if="${loginUser!=null}">||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购物车</a>
        <a th:href="@{/logout}" class="logout" th:if="${loginUser!=null}">[ 退 出 ]</a>
      </div> <!-- nav-info-end -->
    </nav>

    <div class="public-shop-account">
      <div class="content">
        <div class="shop-account-head"> 填写并核对订单信息 </div>
        <div class="shop-account-info">
          <div class="edit-address">
            <div class="address-head">
              <span>收货人信息</span>
<!--              <a href="">新增收货地址</a>-->
            </div>
            <div class="address-info">
              <span th:text="${user.username}">家里</span>
              <span >地址：<u th:text="${user.dormitory}"></u></span>
<!--              <a href="">编辑</a>-->
            </div>
          </div>
          <div class="edit-pay">
            <div class="pay-head">支付方式</div>
            <div class="pay-info">
              <span>在线支付</span>
<!--              <a href="">更多>></a>-->
            </div>
          </div>
        </div>
        <div class="shop-account-detail">
          <div class="account-address">
            <span><i th:text="${length}">3</i> 件商品，总商品金额：</span>
            <span>&yen;<i th:text="${sum}">14797.00</i></span>
            <span>运费：</span>
            <span><i>&yen;0.00</i></span>
            <span>商品优惠：</span>
            <span>-￥0.00</span>
          </div>
          <div class="account-pay">
            <span> 应付总额： <i>&yen;<i th:text="${sum}">14797.00</i> </i></span>
            <span>收货人：<u th:text="${user.username}"></u> 电话：<u th:text="${user.phone}"></u></span>
          </div>
          <div class="account-btn"><button>提交订单</button></div>
        </div>
      </div>
    </div>
    <footer>
      <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
    </footer>
</body>
</html>