<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>乐淘淘-编辑商品信息</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/upload.css}">
</head>

<body>
	<!-- 导航条 -->
	<nav class="navbar">
		<div class="nav-menu">
			<ul class="menu">
				<li><a th:href="@{/index}">首页</a></li>
				<li><a th:href="@{/store}">良品区</a></li>
				<li><a th:href="@{/askBook}">求购区</a></li>
			</ul>
		</div><!-- nav-menu -->

		<form class="nav-search">
			<input type="search" class="searchIn" placeholder="搜图书...">
			<button class="search-logo"><img src="img/search2.png"></button>
		</form>

		<div class="nav-info">
			<a th:href="@{/myBookSelf}" class="username" th:if="${loginUser!=null}" th:text="${loginUser.phone}">你的名字</a>
			<a th:href="@{/login}" class="username" th:if="${loginUser==null}">登录</a>
			<!--			<a th:href="@{/myBookSelf}" class="bookshelf" th:if="${loginUser!=null}">||&nbsp;&nbsp;&nbsp;我的小摊</a>-->
			<a th:href="@{/register}" class="bookshelf" th:if="${loginUser==null}">||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册</a>
			<a th:href="@{/shopping_cart}" class="bookshelf" th:if="${loginUser!=null}">||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购物车</a>
			<a th:href="@{/logout}" class="logout" th:if="${loginUser!=null}">[ 退 出 ]</a>
		</div> <!-- nav-info-end -->
	</nav>
	<div class="titleName">
		<h3>编辑信息</h3>
	</div>

	<div class="container">
		<form class="upload-form" th:action="@{/update}" method="post" enctype="multipart/form-data">
			<p>
				<span class="pic-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				修改图片： <input type="file" name="image" id="book-file">
<!--				<img id="book-pic" src="img/loadPic.png">-->
			</p>
			<p>
				<span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				商&nbsp;&nbsp;&nbsp;品&nbsp;&nbsp;&nbsp;名：<input type="text" name="name">
			</p>
			<p>
				<span class="author-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				商&nbsp;品&nbsp;&nbsp;种&nbsp;类：<input type="text" list="appNamelist" name="kind">
				<datalist id="appNamelist">
					<option>数码科技</option>
					<option>影音家电</option>
					<option>鞋服配饰</option>
					<option>运动代步</option>
					<option>书籍文具</option>
					<option>其他</option>
				</datalist>

			</p>
			<p>
				<span class="price-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				商&nbsp;品&nbsp;&nbsp;售&nbsp;价：<input type="text" name="price">
			</p>
			<p>
				<span class="time-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				购&nbsp;买&nbsp;&nbsp;时&nbsp;间：<input type="month" name="modified">
			</p>
			<p>
				<span class="condition-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				商&nbsp;品&nbsp;&nbsp;品&nbsp;相：<input type="text" name="level">
			</p>
			<p>
				<span class="desc-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				商&nbsp;品&nbsp;&nbsp;描&nbsp;述：<input type="text" name="remark">
			</p>
			<input type="hidden" id="id"  name="id" th:value="${id}">
			<input type="submit" class="submit-btn" name="book-submit">
		</form>
	</div>
	<footer>
		<a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
	</footer>
	<script type="text/javascript" th:src="@{/js/jquery-3.2.js}"></script>
	<script type="text/javascript">
		$(function () {
			$("#book-file").change(function () {
				var filePath = $(this).val().split("\\");
				var len = filePath.length;
				var file = filePath[len - 1];
				if (!file) {
					filePath = "img/loadPic.png"
				}
				filePath = "image/" + file;
				// console.log(filePath);
				$("#book-pic").attr("src", filePath);
			})
		});
	</script>
</body>

</html>