<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>乐淘淘-首页</title>
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

	<!-- 导航 -->
	<header class="navbar">
		<div class="nav-info">
			<a th:href="@{/myBookSelf}" class="username" th:if="${loginUser!=null}" th:text="${loginUser.phone}">你的名字</a>
			<a th:href="@{/login}" class="username" th:if="${loginUser==null}">登录</a>
			<!--			<a th:href="@{/myBookSelf}" class="bookshelf" th:if="${loginUser!=null}">||&nbsp;&nbsp;&nbsp;我的小摊</a>-->
			<a th:href="@{/register}" class="bookshelf" th:if="${loginUser==null}">||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册</a>
			<a th:href="@{/shopping_cart}" class="bookshelf" th:if="${loginUser!=null}">||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购物车</a>
			<a th:href="@{/logout}" class="logout" th:if="${loginUser!=null}">[ 退 出 ]</a>
		</div> <!-- nav-info -->
		<form class="nav-search">
			<a href="index.html"><img class="logo" th:src="@{/img/logo2.png}"></a>
			<div class="search-form">
				<a href="#" class="search-logo">| &nbsp;<img src="img/search.png"></a>
				<input type="search" class="searchIn" placeholder="搜商品...">
				<button class="searchBtn">搜索</button>
			</div>
		</form><!--  nav-search -->
		<ul class="menu">
			<li><a class="active" th:href="@{/index}">首页</a></li>
			<li><a th:href="@{/store}">良品区</a></li>
			<li><a th:href="@{/askBook}">求购区</a></li>
		</ul>
	</header>

<!--	&lt;!&ndash; 轮播 &ndash;&gt;-->
<!--	<div class="carousel">-->
<!--		<div class="book-guide">-->
<!--			<h4>商品导航</h4>-->
<!--			<ul class="book-class" th:each="list:${allKinds}">-->
<!--				<li><a th:href="${list.link}" title="article" th:utext="${list.name}">小说 / 文学 / 语言文字</a></li>-->
<!--			</ul>-->
<!--		</div>&lt;!&ndash; book-guide &ndash;&gt;-->
<!--		<div class="slider">-->
<!--			<div class="slider-img">-->
<!--				<ul class="slider-img-ul">-->
<!--					<li><img th:src="@{/img/carousel/5.jpg}"></li>-->
<!--					<li><img th:src="@{/img/carousel/4.jpg}"></li>-->
<!--					<li><img th:src="@{/img/carousel/3.jpg}"></li>-->
<!--					<li><img th:src="@{/img/carousel/2.jpg}"></li>-->
<!--					<li><img th:src="@{/img/carousel/1.jpg}"></li>-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>&lt;!&ndash; 	slider &ndash;&gt;-->
<!--	</div>&lt;!&ndash; carousel &ndash;&gt;-->

	<!-- 图书分类 -->
	<div id="container">
		<div class="book-part">
			<h3 class="book-title">| <a href="#" th:utext="${kind}">小说 / 文学 / 语言文字</a></h3>
<!--			<a class="more" href="#"> > > 更多</a>-->
			<ul class="book-lists">
				<li class="book-list"  th:each="shop : ${shopInformationList}">
					<a th:href="@{/detail/(id=${shop.id})}" class="book-pic">
						<img th:src="@{${shop.image}}">
					</a>
					<a th:href="@{/detail/(id=${shop.id})}" class="book-info">
<!--						<input type="hidden" name="id" th:value="${shop.id}">-->
						<!--/*@thymesVar id="name" type=""*/-->
						<h5 class="book-name" th:text="${shop.name}">白夜行</h5>
						<!--/*@thymesVar id="remark" type=""*/-->
						<span class="book-detail" th:text="${shop.remark}">东野圭吾 著 / 南海出版公司 / 2008-09 / 平装</span>
					</a>
					<span class="book-price" th:utext="${shop.price}">￥12.9
						<a href="#" class="book-buy">立即下单</a>
					</span>
				</li>
			</ul><!--  book-list end -->
		</div><!--  book-part end -->
	</div> <!-- container end-->
	<footer>
		<a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
	</footer>
	<script type="text/javascript" th:src="@{/js/jquery-3.2.js}"></script>
	<script type="text/javascript" th:src="@{/js/xSlider.js}"></script>
	<script type="text/javascript">
		$(function () {

			$(".book-class li a").on("click", function () {
				var classId = $(this).prop("title");
				console.log(classId);
				var classTop = $("#container").find(("#" + classId)).offset().top;
				$("html,body").animate({ scrollTop: classTop + "px" }, 500);
			});
		})		
	</script>
</body>

</html>