<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>乐淘淘-编辑个人信息</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/upload.css}">
</head>

<body>
	<!-- 导航条 -->
	<nav class="navbar">
		<div class="nav-menu">
			<ul class="menu">
				<li><a th:href="@{/index}">首页</a></li>
				<li><a th:href="@{/store}">良品区</a></li>
				<li><a th:href="@{/askBook}">求购区</a></li>
			</ul>
		</div><!-- nav-menu -->

		<form class="nav-search">
			<input type="search" class="searchIn" placeholder="搜图书...">
			<button class="search-logo"><img src="img/search2.png"></button>
		</form>

		<div class="nav-info">
			<a href="#" class="username" th:if="${loginUser!=null}" th:text="${loginUser.phone}">你的名字</a>
			<a th:href="@{/login}" class="username" th:if="${loginUser==null}">登录</a>
			<a th:href="@{/myBookSelf}" class="bookshelf" th:if="${loginUser!=null}">||&nbsp;&nbsp;&nbsp;我的小摊</a>
			<a th:href="@{/register}" class="bookshelf" th:if="${loginUser==null}">||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册</a>
			<a th:href="@{/logout}" class="logout" th:if="${loginUser!=null}">[ 退 出 ]</a>
		</div> <!-- nav-info-end -->
	</nav>
	<div class="titleName">
		<h3>编辑个人信息</h3>
	</div>

	<div class="container">
		<form class="upload-form" th:action="@{/updateUserInformation}" method="post">
			<p>
				<span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				用&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;&nbsp;名：<input type="text" name="username" th:value="${user.username}">
			</p>
			<p>
				<span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级：<input type="text" name="clazz" th:value="${user.clazz}">
			</p>
			<p>
				<span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input type="text" name="sno" th:value="${user.sno}">
			</p>
			<p>
				<span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				宿&nbsp;&nbsp;&nbsp;舍&nbsp;&nbsp;&nbsp;号：<input type="text" name="dormitory" th:value="${user.dormitory}">
			</p>
			<p>
				<span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：<input type="text" name="gender" th:value="${user.gender}">
			</p>
			<input type="submit" class="submit-btn" name="book-submit">
		</form>
	</div>
	<footer>
		<a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
	</footer>
	<script type="text/javascript" th:src="@{/js/jquery-3.2.js}"></script>
	<script type="text/javascript">
		$(function () {
			$("#book-file").change(function () {
				var filePath = $(this).val().split("\\");
				var len = filePath.length;
				var file = filePath[len - 1];
				if (!file) {
					filePath = "img/loadPic.png"
				}
				filePath = "image/" + file;
				// console.log(filePath);
				$("#book-pic").attr("src", filePath);
			})
		});
	</script>
</body>

</html>